<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">数字资产转入</span>
		</div>
		<div class="cf">
			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width: 160px; float: left; margin-right: 10px;" name="coinname" class="form-control">
							<option value=""
							<empty name="Think.get.coinname">selected</empty>
							>交易币种</option>
							<volist name="C['coin']" id="vo">
								<option value="{$vo['name']}"
								<eq name="vo['name']" value="$Think.get.coinname">selected</eq>
								>{$vo['title']}</option>
							</volist>
						</select>
						<select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
							<option value="username"
							<eq name="Think.get.field" value="username">selected</eq>
							>用户名</option>
						</select>
						<input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="请输入查询内容" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
				<tr>
					<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
					<th class="">ID</th>
					<th class="">用户名</th>
					<th class="">币种</th>
					<th width="">转入时间</th>
					<th width="">转出地址</th>
					<th width="">转入数量</th>
					<th width="">实际到账</th>
					<th width="">转入赠送</th>
					<th width="">状态</th>
				</tr>
				</thead>
				<tbody id="list">
				<notempty name="list">
					<volist name="list" id="vo">
						<tr>
							<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
							<td>{$vo.id}</td>
							<td>{$vo['usernamea']}</td>
							<td>{$vo.coinname}</td>
							<td>{$vo.addtime|addtime}</td>
							<td>
								<eq name="vo['is_custom_coin']" value="1">
									{$vo['txid']}
								<else/>
									{$vo['username']}
								</eq>
							</td>
							<td>{$vo['num']*1}</td>
							<td>{$vo['mum']*1}</td>
							<td>{$vo['fee']*1}</td>
							<td>
								<eq name="vo.status" value="1"> 转入成功
									<else/>
								    等待处理
									<eq name="vo['is_custom_coin']" value="1">
										<a href="javascript:;" class="btn btn-info btn-xs confirm_custom_coin_myzr">自定义确认到账 </a>
									<else/>
										<a href="{:U('Finance/myzrQueren?id='.$vo['id'])}" class="ajax-get btn btn-primary btn-xs">确认到账 </a>
									</eq>

								</eq>
							</td>
						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
				</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('Finance/myzr')}");
		
		$('#list a.confirm_custom_coin_myzr').click(function() {
		    var T = $(this);
		    var html = "<form action=>" +
					   "<div style='width:320px;'>" +
				       "<div style='width:300px;margin-left: 3%;' class='form-group has-feedback'>" +
					   "<p>请输入到账金额</p>" +
				       "<input id='coin_number' type='text' class='form-control coin_number'/>" +
					   "</div>" +
					   "</div>" +
					   "</form>";

            layer.open({
                type: 0,
                closeBtn: 1,
                shift: 0,
                shadeClose: true,
                content: html,
				yes: function() {
					var coin_number = $('#coin_number').val();
                    if (!/(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/.test(coin_number)) {
                        layer.msg('请输入正确金额', {icon: 2});
                        return false;
					}

					var user_name = T.parent('td').siblings('td').eq(2).text();
					if (!confirm('确认为用户【' + user_name + '】充值 ' + coin_number + ' 个金币吗？')) {
					    return false;
					}
					
					$.post("{:U('Finance/customcoinmyzrQueren')}", {
						'myzr_id': parseInt(T.parent('td').siblings('td').eq(0).children('input:checkbox').val()),
						'coin_number': coin_number
					}, function (json) {
						if (parseInt(json.status) == 1) {
                            layer.msg(json.info, {icon: 1});
                            window.location.reload();
						} else {
                            layer.msg(json.info, {icon: 2});
						}
                    }, 'json');
				}
            });
		});
	</script>
</block>