<include file="Public:header" />

<div class="autobox ">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i>
        <a href="/" class="movesay">首页</a> &gt; <a href="/finan/index.html" class="movesay">财务中心 </a> &gt; 场外购买BTC
    </div>
    <div class="main-content">

        <include file="Finance:left" />

        <div class="tag-list-content assets_content bg_w">
            <div class="safe_center clear">
                <h1>
                    <span>场外购买BTC</span>
                </h1>
            </div>

            <div class="mytable-body ">
                <div class="step1  pwtrade pw mt50">
                    <div class="weituo_bizhong" style="margin-left: 149px;margin-bottom: 10px;">
                        {$data['account_rechange']}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="Public:footer" />